<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hello WebSocket</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/js/script.js"></script>
</head>
<body>

<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>

<div style="margin-bottom: 15px">
    <a href="/users/new/create">Создать пользователя</a>
</div>

<div style="margin-bottom: 15px">
    <button id="update_user">Обновить список пользователей</button>
    <div id="users"></div>
    <div id="users_paging"></div>
</div>


</body>
</html>